{{ if .Site.Taxonomies.actresses }}
<div class="bg-white panel mb-3 dark:bg-warmgray-900">
    <p class="text-xl text-center text-gray-700 py-3 pl-3 dark:text-gray-300 font-bold">女優</p>
    <div class="panel-block p-2">
        {{- $limit := 10 }}
        {{- $all := .Site.Taxonomies.actresses.ByCount }}
        {{- $total := len $all }}
        {{- range $i, $term := $all }}
        {{- if lt $i $limit }}
        <a href='{{ "/actresses/" | relLangURL }}{{ $term.Name | urlize }}'><span
            class="duration-100 inline-flex py-2 leading-4 mr-2 mb-2 content-center bg-gray-100 justify-center h-8 px-3 text-blue-500 hover:text-blue-900 dark:bg-warmgray-800">{{ $term.Name }}</span></a>
        {{- end }}
        {{- end }}
        {{- if gt $total $limit }}
        <div class="taxonomy-more" style="display:none;">
            {{- range $i, $term := $all }}
            {{- if ge $i $limit }}
            <a href='{{ "/actresses/" | relLangURL }}{{ $term.Name | urlize }}'><span
                class="duration-100 inline-flex py-2 leading-4 mr-2 mb-2 content-center bg-gray-100 justify-center h-8 px-3 text-blue-500 hover:text-blue-900 dark:bg-warmgray-800">{{ $term.Name }}</span></a>
            {{- end }}
            {{- end }}
        </div>
        <button class="taxonomy-toggle" data-more="▼ もっと見る（{{ sub $total $limit }}件）" data-less="▲ 閉じる">▼ もっと見る（{{ sub $total $limit }}件）</button>
        {{- end }}
    </div>
</div>
{{ end }}
