{{/* DiGiket アフィリエイト広告ウィジェット */}}
<div class="bg-white panel mb-3 p-4 dark:bg-warmgray-900">
    <!-- ここに広告タグを貼り付ける -->

<script type="text/javascript">
digiket_AFID='tp1983af';
digiket_target='1';
digiket_sort='new';
digiket_A='AI';
digiket_frame_width = '120';
digiket_frame_height = '500';
digiket_header_fontcolor = '#FFFFFF';
digiket_header_bgimage = 'none';
digiket_header_bgcolor = '#0066FF';
digiket_item_bgcolor = '#FFFFFF';
digiket_item_fontcolor = '#666666';
digiket_item_dashedcolor = '#CCCCCC';
digiket_item_thumtype = 'thum';
</script>
<script type="text/javascript" src="https://api.digiket.com/xml/api/blogrank.js">
</script>
</div>
