<div class="bg-white panel mb-3 p-4 dark:bg-warmgray-900">
    {{ if lt now (time "2026-04-01") }}
    <ins class="widget-banner"></ins><script class="widget-banner-script" src="https://widget-view.dmm.com/js/banner_placement.js?affiliate_id=tp1983af-002&banner_id=1782_300_250"></script>
    {{ else }}
    <ins class="widget-banner"></ins><script class="widget-banner-script" src="https://widget-view.dmm.com/js/banner_placement.js?affiliate_id=tp1983af-002&banner_id=879_300_250"></script>
    {{ end }}
</div>
