{{/* DiGiket + DLsite ランキングウィジェット 横2列 */}}
<div class="bg-white panel mb-3 p-4 dark:bg-warmgray-900">
  <div style="display:flex; gap:8px;">

    <div>
      <script type="text/javascript">
      digiket_AFID='tp1983af';
      digiket_target='1';
      digiket_sort='week';
      digiket_A='AI';
      digiket_frame_width = '120';
      digiket_frame_height = '1000';
      digiket_header_fontcolor = '#FFFFFF';
      digiket_header_bgimage = 'none';
      digiket_header_bgcolor = '#0066FF';
      digiket_item_bgcolor = '#FFFFFF';
      digiket_item_fontcolor = '#666666';
      digiket_item_dashedcolor = '#CCCCCC';
      digiket_item_thumtype = 'thum';
      </script>
      <script type="text/javascript" src="https://api.digiket.com/xml/api/blogrank.js"></script>
    </div>

    <div>
      <script type="text/javascript">blogparts={"id":"16074","ssl":"1"}</script>
      <script type="text/javascript" src="https://www.dlsite.com/js/blogparts.js" charset="UTF-8"></script>
    </div>

  </div>
</div>
